.glassy {
    /* background styles */
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    background-color: rgba(234, 235, 238, 0.801);
    /*for compatibility with older browsers*/
    background-image: linear-gradient(rgb(202, 207, 212), rgb(149, 152, 156));

    /* text styles */
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 100;
    border-radius: 3px;
    box-shadow: 0px 1px 4px -2px #2b2b2b;
    text-shadow: 0px -1px #252525;
}

.glassy:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.616), rgba(255, 255, 255, 0.2));
}

.glassy:hover {
    background: linear-gradient(rgb(71, 255, 71), rgb(142, 241, 129));
}