* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #111;
}

.container {
    position: relative;
    width: 1000px;
    height: 1000px;
}

.cuerpo-central {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Extremidades estilo básico */
.brazo {
    position: absolute;
    width: 1000px;
}

.pierna {
    position: absolute;
    width: 380px;
}

/* Animación del brazo izquierdo */
.brazo.izquierdo {
    left: -120px;
    top: 45%;
    transform: translateY(-45%);
    animation: moverIzquierda 7s forwards;
}

@keyframes moverIzquierda {
    0% {
        left: -120px;
        opacity: 0;
    }

    100% {
        left: 0px;
        /* Ajusta para que coincida con el cuerpo central */
        opacity: 1;
    }
}

/* Clase para ocultar la pierna sin animación */
.hidden {
    opacity: 0;
    /* Oculta la pierna */
    transition: opacity 0s ease;
    /* No aplica transición de opacidad */
    visibility: hidden;
    /* También oculta el elemento de la vista */
}

/* Animación de la pierna izquierda */
.pierna.izquierda {
    left: 45%;
    top: 100%;
    transform: translate(-50%, 140%);
    animation: moverAbajo 7s forwards;
}

@keyframes moverAbajo {
    0% {
        top: 120%;
        opacity: 0;
    }

    100% {
        top: -5%;
        opacity: 1;
    }
}

.texto-terror {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: rgb(250, 16, 16);
    font-family: "Rubik Broken Fax";
    /* Usa una fuente "de terror" */
    text-shadow: 2px 2px 4px #000;
    opacity: 0;
    /* Invisible por defecto */
    transition: opacity 0.3s;
}

@keyframes temblor {

    0%,
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    25% {
        transform: translate(-52%, -48%) rotate(1deg);
    }

    50% {
        transform: translate(-48%, -52%) rotate(-1deg);
    }

    75% {
        transform: translate(-50%, -50%) rotate(0.5deg);
    }
}

.texto-terror.temblor-activo {
    animation: temblor 0.1s infinite;
    opacity: 1;
}

.ManoI,
.ManoD {
    position: absolute;
    width: 350px;
    top: 350px;
    transition: opacity 0.3s;
}

.ManoI {
    left: 350px;
}

.ManoD {
    right: 310px;
}