* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #111;
}

.container {
    position: relative;
    width: 1000px;
    height: 1000px;
}

.cuerpo-central {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Extremidades estilo básico */
.brazo {
    position: absolute;
    width: 1000px;
}

.pierna {
    position: absolute;
    width: 380px;
}

/* Animación del brazo izquierdo */
.brazo.izquierdo {
    left: -120px;
    top: 45%;
    transform: translateY(-45%);
    animation: moverIzquierda 7s forwards;
}

@keyframes moverIzquierda {
    0% {
        left: -120px;
        opacity: 0;
    }

    100% {
        left: 0px;
        /* Ajusta para que coincida con el cuerpo central */
        opacity: 1;
    }
}

/* Clase para ocultar la pierna sin animación */
.hidden {
    opacity: 0;
    /* Oculta la pierna */
    transition: opacity 0s;
    /* No aplica transición de opacidad */
    visibility: hidden;
    /* También oculta el elemento de la vista */
}

/* Animación de la pierna izquierda */
.pierna.izquierda {
    left: 45%;
    top: 100%;
    transform: translate(-50%, 140%);
    animation: moverAbajo 7s forwards;
}

@keyframes moverAbajo {
    0% {
        top: 120%;
        opacity: 0;
    }

    100% {
        top: -5%;
        opacity: 1;
    }
}